<nav class="navbar navbar-expand-sm navbar-light bg-none border-bottom rounded-0"
     style="margin-bottom: 0px; border-bottom: 2px solid #dddddd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chieng Planner</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-id="0" id="homeNavLink">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Notes" asp-action="Index" id="notesNavLink">Notes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Checklists" asp-action="Index" id="checklistNavLink">Checklists</a>
                </li>
            </ul>

            <div class="navbar-nav me-auto" style="display:contents;">
                <ul class="" style="list-style:none;margin-top: 15px;display:inline-flex;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item" style="margin-top: 5px;">
                            @User.GetFullName()
                            <div style="border-left: 1px solid gray;height: 30px;float: right;margin-left: 5px;margin-right: 5px;margin-top: 0px;"></div>
                        </li>
                    }
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="background: #7a0696;"
                                    data-bs-offset="10,20">
                                <span><i class="fas fa-user"></i></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <!--@Html.ActionLink("Update Profile", "UpdateProfile", "Account", null)-->
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <!--<li>@Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "usa-nav_link" })</li>-->
                                    <!--<li>@Html.ActionLink("Update Profile", "UpdateProfile", "Account", null, new { @class = "usa-nav_link" })</li>-->
                                    <li><a class="dropdown-item" href="@Url.Action("SignOut","Account")">Sign Out</a></li>
                                }
                                else
                                {
                                    <!--<li>@Html.ActionLink("Sign In", "SignIn", "Account", null, new { @class = "usa-nav_link" })</li>-->
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
