@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>

<style>
    html, body {
        height: 100%;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChiengPlannerVue</title>
    <link rel="stylesheet" href="~/css/core.bundle.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/css/vendor.bundle.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="~/css/styles.bundle.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" type="text/css">
    <link rel="stylesheet" href="../node_modules/@@fortawesome/fontawesome-free/all.min.css" asp-append-version="true" type="text/css">
</head>
<body>

    @if (Context.User != null && Context.User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    }
    @if (string.Equals(controllerName, "Notes") && !string.Equals(actionName, "EditNote"))
    {
        <div class="d-flex h-100">
            @if (string.Equals(controllerName, "Notes") && !string.Equals(actionName, "EditNote"))
            {
                @Html.Partial("~/Views/Notes/_NotesSidebar.cshtml")
            }
            <div id="notes" class="w-100"></div>
            @RenderBody()
        </div>
    }
    @if (string.Equals(controllerName, "Notes"))
    {
        <div id="notes"></div>
        @RenderBody()
    }
    else
    {
        @RenderBody()
    }

    @RenderSection("Scripts", required: false)

    <script type="text/javascript" src="~/js/runtime.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/core.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/vendor.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="../node_modules/@@fortawesome/fontawesome-free/all.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
</body>
</html>
